.sidebarrow{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarrow:hover {
    background-color: lightgray;
    border-radius: 2px;
}
.sidebarrow >h4 {
    margin-left: 5px;
    font-weight: 600;
}
.sidebarrow >.MuiSvgIcon-root {
    font-size: xx-large;
    color: #2c81f4;
}